<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Run Selected Tests">
        <groups>
            <run>
                <include name="title"/>
            </run>
        </groups>
        <classes>
            <class name = "Testscases.tendableTest"/>
        </classes>
    </test>
</suite>
