<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="loan D" parallel="tests" thread-count="2">
<parameter name="URL" value="google.com"></parameter>
	<test name="P loan">
		<classes>
			<class name="testngPackage.test1" />
			<class name="testngPackage.test2" />
			<class name="testngPackage.test3" />
			<class name="testngPackage.test4" />
		</classes>
	</test>

	<!--<test name="C loan">
		<classes>
			<class name="testngPackage.test2">
				<methods>
					<exclude name="webLoginCarLoan" />
				</methods>
			</class>
		</classes>
	</test>-->
</suite> 
